&.body-content-view {
	height: auto !important;

	.course-sidebar ul.sidebar-nav li a {
		color: $white;

	}

	.course-sidebar ul.sidebar-nav li.selected {
		border-color: $darkred;
		a {
			background: #222;

			&:hover {
				background: #151515;
			}
		}
	}
	.course-mainbar {
		h2.section-title {
			color: $black;
			-webkit-transform: scale(1, 2);
		    -moz-transform: scale(1, 2);
		    -o-transform: scale(1, 2);
		    transform: scale(1, 2);
		    display: inline-block;
		    text-transform: uppercase;
		    font-weight: bold;
		    line-height: 0.8em;
		    font-size:1.4em;
			font-family: 'Times New Roman', serif;
		}

		.next-lecture-wrapper {
		background: white;
		border: 1px solid $black;
		border-radius:0;
			.start-next-lecture {
				border-radius: 0;
				border-right: solid 1px black !important;
			}
		}

		.course-section {
			.section-title {
				background: white;
				border: 1px solid black;

			}

			.section-list {
				border-left: 1px solid black;
				border-right: 1px solid black;				
			}
		}
	}
	.course-mainbar .course-section .btn-primary {
		margin-right: 5px !important;
	}

	.course-mainbar .course-section ul.section-list .section-item .item {
		color: $black;
		border-color:$black;

		.status-icon {
			box-shadow: inset 0px 0px 0px 2px $black;
		}
	}
}

.course-section .section-title {
	font-family: 'Times New Roman', serif;
    font-weight: normal;
    font-size: 1.2em;
}

.course-sidebar {
	background: $black;
    color: $white;
	border-right: 1px solid $black;
	// border-right: none;
    h2 {
    	color: $white;
    	font-size:1.7em;
    	font-weight: bold;
    	padding-left: 16px;
    	padding-right: 16px;
    }
}

.course-sidebar .row.lecture-sidebar .course-section .section-title {
	border-bottom: 1px solid #222;
    background: none;
}

.course-sidebar .row.lecture-sidebar .course-section .section-item {
	border-color: #222222;

	.item {
		color: $white;
	}
}

.course-section ul.section-list .section-item .item {
	background: none;
	color: $white;

	.lecture-icon {
		display: none;
	}
	&:hover {
		background: #111111 !important;
		color: $white !important;
		.status-icon {
			box-shadow: inset 0px 0px 0px 2px $white !important;
		}

	}
}

.course-section ul.section-list .section-item.next-lecture .item {
	background: $darkred;
	color:$lightblue;	

	.status-icon {
		background: url("hxttps://d2oz8i5n9se8ej.cloudfront.net/icons/course-incomplete.png") 1px 0px $lightblue;
		box-shadow: inset 0px 0px 0px 2px $lightblue;
	}
}

.course-section ul.section-list .section-item .status-container {
	margin-right:0;
}

.course-section ul.section-list .section-item {
	.title-container {
		// border-color: #222222;
		border-left: none;
		padding: 10px 0;
	}

	.item,.item.incomplete {
		border-bottom: 1px solid #2f2f2f;

		.status-icon {
			box-shadow: inset 0px 0px 0px 2px $white;
		}
	}

	&.completed {
		.item {
			background: none !important;
		}

		.status-icon {
			box-shadow: inset 0px 0px 0px 1px #FFFFFF;
			background-color: $darkred !important;
		}
	}
}

.lecture-content h2.section-title {
	.fa {
		display: none;
	}
	color: $black;
	-webkit-transform: scale(1, 2);
    -moz-transform: scale(1, 2);
    -o-transform: scale(1, 2);
    transform: scale(1, 2);
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 0.8em;
    font-size:1.4em;
	font-family: 'Times New Roman', serif;
}

.course-sidebar .course-progress {
	padding-left: 16px;
    padding-right: 16px;
}

.progress-bar {
	background: #444;
}