$darkred: #AD2602;
$pink: #FFD9D4;
$lightblue: #D8E2EA;
$lightgreen: #EDF3E8;
$darkblue: #00118E;
$camel: #DFA648;
$orange: #FF6701;
$yellow: #FFF6DE;
$black: #000000;
$white: #FFFFFF;
$lightpink: #FFE8E8;
$lightyellow: #FFF6E5;
$magenta: #FB73FF;
$brightyellow: #FFF800;