body.all-courses {
	footer#global {
		border: none;
		.featured-courses.block {
			display: none;
		}
	}

	.course-listings {
		.filter-title {
			text-align: center;
		    margin: 2em 0;
		}
	}

	.featured-courses.block {
		margin-top: 0;
		background: white;
		.btn-secondary.btn-hg {
			display: none;
		}
	}
}