.btn,.btn:active, .btn:focus {
	cursor: pointer;
}

.btn-default,.btn-default:active, .btn-default:focus {
    border: 1px solid black !important;
    display: inline-block;
    padding: 0.5em 1em !important;
    @include border-radius(2px);
    @include transition(background 0.3s ease-in-out);
    cursor: pointer;
    font-weight:bold !important;
    background: none !important;

    &:hover {
    	background:rgba(0,0,0,0.05);
    }    
}
.btn-secondary, .btn-secondary:active, .btn-secondary:focus {
	font-family: 'Alte Haas Grotesk', sans-serif;
	display: inline-block;
    border: 1px solid black !important;
    padding: 0.8em 1.2em !important;    
    font-size:1rem;
    @include border-radius(2px);
    line-height:1em;
    cursor: pointer;
    @include transition(all 0.3s ease-in-out);
    font-weight:bold !important;
    background: none !important;

    &:hover {
        @include transform(translate3d(0,-0.2em,0));
        background: rgba(0,0,0,0.05) !important;
    }
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
	font-family: 'Alte Haas Grotesk', sans-serif;
	display: inline-block !important;
    padding: 0.8em 1.2em !important;    
    line-height:1em;
    background: black !important;
    color: white;
    font-size:1rem;
    cursor: pointer;
    border:1px solid black !important;
    font-weight:bold !important;
    @include border-radius(2px);
    @include transition(all 0.3s ease-in-out);
    position:relative;
    &.darkred {
    	background:$darkred !important;
        border:1px solid $darkred !important;

    }

    &:hover {
    	-webkit-box-shadow: 3px 4px 28px 5px rgba(0,0,0,0.1);
		-moz-box-shadow: 3px 4px 28px 5px rgba(0,0,0,0.1);
		box-shadow: 3px 4px 28px 5px rgba(0,0,0,0.1);
    	@include transform(translate3d(0,-0.2em,0));
        background: black !important;
        border-color: black;
    }
}

.btn-secondary.btn-sm {
    padding: 0.5em 0.7em !important;
    font-size:0.9rem !important;
}
.btn-primary.btn-sm {
    padding: 0.5em 0.7em !important;
    font-size:0.9rem !important;
}

.btn-secondary.btn-hg {
    font-size:1.3rem !important;
}
.btn-primary.btn-hg {
    font-size:1.3rem !important;
}


