.coupon_banner.block {
	text-align:center;
	font-size: 0.5em;
    background: black;
    color: white;
    position: fixed;
    bottom: 0;
    padding: 0;
    left: 0;
    margin: 0;
    z-index: 99;

	.coupon-code-applied {
		@extend h2;
	}

	.coupon-percent-text {
	    display: inline-block;
	    // background: $lightblue;
	    padding: 0.3em;
	    margin: 0 0.5rem;
	    // border: 1px solid darken($lightblue,10%);
	    // @include border-radius(4px);
	}

	.coupon-invalid-text {
		@extend p;
	}

	.coupon-marquee-container {
		white-space: nowrap;
		overflow: hidden;
		border-top: 1px solid black;
	}

	#div1,#div2 {
		// width: 100%;
		// overflow: hidden;
	}

	#div1 {
	  display: inline-block;
	  animation: marquee 20s linear infinite;
	}

	#div2 {
	  display: inline-block;
	  animation: marquee2 20s linear infinite;
	  animation-delay: 10s;
	}

	@keyframes marquee {
	  from {
	    transform: translate3d(100%,0,0);
	  }
	  to {
	    transform: translate3d(-100%,0,0);
	  }
	}

	@keyframes marquee2 {
	  from {
	    transform: translate3d(0%,0,0);
	  }
	  to {
	    transform: translate3d(-200%,0,0);
	  }
	}
}

// add marquee