.course-card {
	@include colXS(12);
	@include colM(6);
	@include colLG(4);
	position:relative;
	margin-bottom: 2em;

	@include bp('medium') {
		margin-bottom: 3em;
	}

	// .image-container {
	// 	border: 1px solid black;
	// 	background: $red;
	// 	@include transition(all 0.3s ease-in-out);

	// 	&:hover {
	// 		@include transform(translate3d(0,-0.2em,0));
	//     	-webkit-box-shadow: 3px 4px 28px 5px rgba(0,0,0,0.1);
	// 		-moz-box-shadow: 3px 4px 28px 5px rgba(0,0,0,0.1);
	// 		box-shadow: 3px 4px 28px 5px rgba(0,0,0,0.1);
	// 	}
	// }

	// .header {
	// 	padding-left: 1.5em;
	// 	padding-right: 1.5em;
	// 	padding-bottom:1.5em;
	// }

	a {
		text-decoration: none;
		color: inherit;
	}

	h2 {
		font-size: 1.8em;
		font-family: 'Times New Roman', serif;
		text-transform:none;
	}
	.author {
	    display: inline-block;
	    background: white;
	    color: black;
	    padding: 0.3em 0.5em;
	    border: 1px solid black;
	    margin-left: 1em;
	    position: relative;
	    top: -1.5em;
	    text-transform: uppercase;
	}

	.image-container {
		border:1px solid black;
	}
}

.course-card-container {
	@include row();
	@include max-container();
}