input {
	-webkit-appearance: none;
    border-radius: 0;
	-webkit-border-radius:0px;
	padding: 0;
}

input:focus {outline:0;}

input[type="text"],input[type="email"], input[type="password"] {
	background: none;
	border: none;
	border-bottom: 1px solid black;
	width: 100%;
	font-size: 1.5em;
	font-family: 'Times New Roman', serif;
	padding-bottom:0.3em;
	color: black;
}

.center {
	text-align:center;
}
input[type="submit"] {
	background: black;
	font-weight: bold;
	padding: 1em 2em;
	color: white;
	@include border-radius(3px);
	font-size: 1em;
	cursor: pointer;
	@include transition(all, 0.3s, ease-in-out);
	@include transform(translate3d(0,0,0));
	
	&:hover {
		background: darken(black,5%);
        @include transform(translate3d(0,-0.2em,0));
	}
}

form {
	text-align:left;
	label {
		border: none;
	    padding: auto;
	    display: block;
	    text-transform: uppercase;
	    margin-top: 0.1em;
	    font-size: 0.8em;
	    text-align: left;
	}
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(black,0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(black,0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(black,0.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(black,0.5);
}