form {
	.product-list {

		
		.product-radio {
			display: none;
		}

		.product-name {
			@extend h2;
		}

		.checkout-button-group{
			text-align:center;
		}

		.product-details {
			padding-bottom: 2em;
		}

		.product-price {
		    margin-bottom: 2rem;
		    font-size: 2.4em;
		}

		.btn {
			margin-top: 1em; 
		}

		.default-product-price {
		}

		label {
			// @include colM(4);
			@include generalColXS();
			text-transform: none;
			border: 1px solid black;
    		padding: 2em;
		}
	}
}

#pricing-options {
	padding-top: 2rem;
}
.block.checkout {
	text-align: center;

	.cta-container {
		text-align:center;
	}

	h2 {
		vertical-align: middle;
		padding-bottom:0;
	}

	.star {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		display: inline-block;
		position:relative;
	}

	@include bp('medium') {
		.star.left {
			margin-right: 2em;
		}
		.star.right {
			margin-left: 2em;
		}
	}

	.star{
		vertical-align: middle;
		width: 24px;
		height: auto;

		@include bp('medium') {
			width: 32px;
			height: auto;
		}
	}
}