form {
	.product-list {
		border: 1px solid black;
		margin-top: 1em;
		> .btn {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			@include transition(all 0.3s ease-in-out);

			&:hover {
				background: lighten($lightblue,5%);
			}

			&.active {
				background: $lightblue;
			}
		}
		.product-radio {
			display: none;
		}

		.product-name {
			@extend h2;
		}

		.checkout-button-group{
			text-align:center;
		}

		.product-details {
			padding-bottom: 2em;
		}

		.product-price {
		    font-size: 2.4em;
		}

		.detailed-description {
		    margin-top: 2rem;
		    border-top: 1px solid black;
		    font-size: 0.8em;
		    padding-top:2rem;
		}

		.btn {
			margin-top: 1em; 
		}

		.default-product-price {
			line-height: 1.3em;
		}

		label {
			@media only screen and (max-width: 767px) {
			  box-sizing: border-box;
			  -ms-flex: 0 0 auto;
			  -webkit-box-flex: 0;
			  flex: 0 0 auto;
			  padding-right: 1rem;
			  padding-left: 1rem;
			  max-width: 100%;	
			  width: 100%;
			  border-bottom: 1px solid black;	
			  padding: 2em;
			}

			transform: none;
			left: 0;
			text-transform: none;
			border-right: 1px solid black;
    		padding: 4em 2em 2em;

    		&:last-child {
    			border: none;
    		}
		}
	}
}

#pricing-options {
	padding-top: 2rem;
}
.block.checkout {
	text-align: center;

	.checkout-cta {
		p {
			margin-top: 1.5em;
		}
	}

	.button-container {
		center {
			margin: 0 auto;
			display: block;			
		}
	}

	.cta-container {
		text-align:center;
	}

	h2 {
		vertical-align: middle;
		padding-bottom:0;
	}

	.star {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		display: inline-block;
		position:relative;
	}

	@include bp('medium') {
		.star.left {
			margin-right: 2em;
		}
		.star.right {
			margin-left: 2em;
		}
	}

	.star{
		vertical-align: middle;
		width: 24px;
		height: auto;

		@include bp('medium') {
			width: 32px;
			height: auto;
		}
	}
}