.block.description_with_share_icons {
	.share-icon-container {
		text-align:center;
		padding: 0 1.5em;
		@include bp('small') {
			padding: 0;
		}

		.share-border {
			border: 1px solid black;
    		padding: 3em 3em 2em;
			margin: 0 auto;	
			margin-bottom: 2rem;
			display: inline-block;
			blockquote {
				position:relative;
				z-index:1;
			}

			a {
				position:relative;
				z-index:2;
    			display: inline-block;
			}

			@include bp('small') {
    			padding: 3em 3em 2em;			
    		}
		}

		@include bp('small') {
			margin-bottom: 3rem;
		}

		@include bp('medium') {
			margin-bottom: 4rem;
		}

		blockquote {
			padding-bottom: 1.5rem;
			@include bp('small') {
				padding-bottom: 1rem;
			}
			display: block;
			padding-top: 0.5rem;
		}

		.fa {
			font-size: 2.4em;
			margin-right: 0.3em;
			@include transition(all 0.3s ease-in-out);
			cursor: pointer;
			&:hover {
				color: $darkred;
			}
		}

		.fa.fa-linkedin-square {
			margin-right: 0;
		}
	}

	.course-description {
		@include text-container();
	}
}