.block.description_with_share_icons {
	.share-icon-container {
		text-align:center;
		.share-border {
			border: 1px solid black;
			padding: 1.5em;
			margin: 0 auto;	
			margin-bottom: 2rem;
			display: inline-block;
		}
		
		@include bp('small') {
			margin-bottom: 3rem;
		}

		@include bp('medium') {
			margin-bottom: 4rem;
		}

		blockquote {
			padding-bottom: 1rem;
			display: block;
		}

		.fa {
			font-size: 2em;
			margin-right: 0.2em;
		}

		.fa.fa-linkedin-square {
			margin-right: 0;
		}
	}

	.course-description {
		@include text-container();
	}
}