	.thank-you-page {
	 	background: $lightblue;
		color: $darkred;
	}

	.purchase_confirmation {
		margin-bottom: 1em;
	}

	.blocks-page.blocks-page-post_purchase_page {
		.block.purchase_confirmation {
			padding-top:0;
		}
	}

	.block.purchase_confirmation + .block.proceed_to_course_button {
		margin-top:1em;
	}
